@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  --background-color: #323232;
  --background-color-scrollbar: #1c1c1c;
  --card-background-color: #424242;
  --text-color: #ffffff;
}

html {
  background-color: var(--background-color);
  font-family: "Press Start 2P", cursive;
}

nav #types-select {
  display: flex;
  justify-content: space-around;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 250px;
  height: 300px;
  margin: 10px;
  perspective: 1000px;
  cursor: pointer;
  position: relative;
  background-color: var(--card-background-color);
  overflow: hidden;
  border-radius: 5px;
  color: var(--text-color);
  transition: transform 0.25s, box-shadow 0.25s;
  user-select: none;
}

.card:hover {
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
  transform: translateY(-10px);
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.card-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  background-color: var(--card-background-color);
  z-index: 2;
}

.card-front img {
  width: 100%;
  height: 100%;
  max-height: 150px;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-back {
  font-size: small;
  padding: 10px;
  box-sizing: border-box;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
}

select {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  background-color: var(--card-background-color);
  color: var(--text-color);
  box-shadow: 0 0 4px 1px rgba(37, 37, 37, 0.5);
}

img {
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.758));
}

button[type="submit"] {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  background-color: var(--card-background-color);
  color: var(--text-color);
  box-shadow: 0 0 4px 1px rgba(37, 37, 37, 0.5);
  cursor: pointer;
}

.stats {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  flex-direction: column;
  background-color: var(--card-background-color);
}

.card[aria-selected="true"] {
  animation: card-selected 2s linear infinite;
}

[data-toggle-state="true"] {
  background-color: red;
}

[data-toggle-state="false"] {
  background-color: green;
}

::-webkit-scrollbar {
  width: 10px;
  padding: 4px;
}

::-webkit-scrollbar-track {
  background: var(--background-color-scrollbar);
}

::-webkit-scrollbar-thumb {
  background-color: var(--card-background-color);
  border-radius: 5px;
  border: 2px solid var(--background-color);
}

@keyframes card-selected {
  0% {
    border: 3px solid rgba(166, 255, 158, 0.5);
  }
  50% {
    border: 3px solid rgba(21, 255, 0, 0.5);
  }
  100% {
    border: 3px solid rgba(166, 255, 158, 0.5);
  }
}

.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.video-overlay iframe {
  width: 80vw;
  height: 80vh;
  max-width: 100%;
  max-height: 100%;
}

.video-fade-in {
  animation: fadeIn 0.5s forwards;
}

.video-fade-out {
  animation: fadeOut 0.5s forwards;
}

button:hover {
  background-color: red;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.3);
  }
}
button {
  background-color: #2f2f2f; 
  color: #ffffff;
  border: none;
  padding: 10px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  cursor: pointer;
}

button:hover {
  background-color: #fafafa; 
  color: #333333;
  transform: scale(1.05);
}

button.selected,
[data-toggle-state="true"] {
  background-color: #fafafa;
  color: #333333;
}
button.visited,
[data-toggle-state="false"] {
  background-color: #2f2f2f; 
  color: #ffffff;
}
